
img {
  width: 50px;
}
#face {
  width: 600px;
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
}
#face2 {
  width: 600px;
  position: fixed;
  left: 20%;
  top: 20%;
  transform: translate(-50%);
}

#hair1{
  width: 500px;
  position: fixed;
  top: 6em;
  left: 40em;
}
#hair2 {
  width: 500px;
  position: fixed;
  top: 11em;
  left: 9em;
}
#eyes1{
  position: fixed;
  left: 43%;
  top: 40%;
  width: 300px;
}
#eyes2 {
  position: fixed;
  left: 14%;
  top: 40%;
  width: 300px;
}

#nose1{
  width: 100px;
  position: fixed;
  top: 47%;
  left: 47% ;
}
#nose2 {
  width: 100px;
  position: fixed;
  top: 50%;
  left: 18.5%;
}
#mouth2{
  width: 200px;
    position: fixed;
    top: 60%;
    left: 45%;
}
#mouth1 {
  width: 200px;
  position: fixed;
  top: 60%;
  left: 16%;
}
#ears1{
  width: 600px;
    position: fixed;
    top: 25%;
    left: 37%;
}
#ears2 {
  width: 700px;
  position: fixed;
  top: 40%;
  left: 5%;
}
#hat{
  width: 520px;
    position: fixed;
    top: 4%;
    left: 9%;
}
